<!-- <ion-content>
  <div>
    <h1>home</h1>
  </div>
  
  <ion-menu-toggle>
    <ion-item>
      Home
    </ion-item>
  </ion-menu-toggle>

  <br><br>
  <input style="margin-left: 10px; height: 50px; width: 280px; font-size: 18px; border: 2px solid gray;" type="text"
    placeholder="  Search">
</ion-content> -->
<!-- 
<ion-content>
        <ion-list id="inbox-list"> 

         <ion-list-header>Inbox</ion-list-header>
          <ion-note>hi@ionicframework.com</ion-note> -->

          <!-- <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false"
              [class.selected]="selectedIndex == i">
              <ion-label>{{ p.title }}</ion-label>
              <ion-icon style=" padding-right: 15px;" (click)="showSample()" *ngIf="p.url == '/i-search' || p.url == '/folder/Training' || p.url == '/folder/Services' || p.url == '/folder/News' || p.url == '/folder/Membership' || p.url == '/folder/About us' || p.url == '/folder/Gallery'"
                slot="end" name="add"></ion-icon>
            </ion-item>
          </ion-menu-toggle> -->

          <!-- <ion-menu-toggle auto-hide="false">
            <ion-grid>
              <ion-row>
                <ion-col >Home</ion-col>
      
              </ion-row>
              <br>
              <ion-row>
                <ion-col>Events</ion-col>
              </ion-row>
              <br>
              <ion-row>
                <ion-col>Training</ion-col>
                <ion-col>
                  <ion-icon name="{{option}}" (click)="onDisplay()"></ion-icon>
                </ion-col>
              </ion-row>
              <br>
              <ion-row>
                <ion-col >Services</ion-col>
                <ion-col>
                  <ion-icon name="{{option}}" (click)="onDisplay()"></ion-icon>
                </ion-col>
              </ion-row>
              <br>
              <ion-row>
                <ion-col >News</ion-col>
                <ion-col>
                  <ion-icon name="{{option}}" (click)="onDisplay()"></ion-icon>
                </ion-col>
              </ion-row>
              <br>
              <ion-row>
                <ion-col >iSearch</ion-col>
                <ion-col>
                  <ion-icon name="{{option}}" (click)="onDisplay()"></ion-icon>
                </ion-col>
              </ion-row>
              <br>
              <ion-row>
                <ion-col>Membership</ion-col>
                <ion-col>
                  <ion-icon name="{{option}}" (click)="onDisplay()"></ion-icon>
                </ion-col>
              </ion-row>
              <br>
              <ion-row>
                <ion-col>About us</ion-col>
                <ion-col>
                  <ion-icon name="{{option}}" (click)="onDisplay()"></ion-icon>
                </ion-col>
              </ion-row>
              <br>
              <ion-row>
                <ion-col>Careers</ion-col>
              </ion-row>
              <br>
              <ion-row >
                <ion-col >Gallery</ion-col>
                <ion-col class="icon-col">
                  <ion-icon name="{{option}}" (click)="onDisplay()"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>
            
          </ion-menu-toggle>

          <br><br>
          <input type="text"
            placeholder="  Search">
        </ion-list>
      </ion-content> -->