<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="logForm()">
    <ion-item>
      <ion-label>Todo</ion-label>
      <ion-input type="text" [(ngModel)]="postdata.username" name="username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Description</ion-label>
      <ion-textarea [(ngModel)]="postdata.password" name="password"></ion-textarea>
    </ion-item>
    <button ion-button type="submit" block>Login</button>
  </form>
</ion-content>
